<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Theory Of Chances</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <header>
    <h1>Theory Of Chances</h1>
    <h3>Basic formulas of theory of chances</h3>
  </header>

  <div class="container">
    <div class="calculation">
      <div class="input-container">
        <input type="number" id="firstValue" placeholder="N">
        <input type="number" id="secondValue" placeholder="M">
      </div>
      <div class="input-container last">
        <input type="number" id="thirdValue" placeholder="New N">
        <input type="number" id="fourthValue" placeholder="New M">
      </div>
      <button>Calculate</button>
      <div class="answer-container">
        <div id="answer"></div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="common.js"></script>
</body>
</html>