@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  outline: none;
  transition: all 1s ease;
}

*::before, *::after, *:hover{
  transition: all 1s ease;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  flex-direction: column;
  background: linear-gradient(to right, #7f7fd5, #86a8e7, #91eae4);
  color: #ffffff;
  /*cursor: url('path-to-image.png'), auto;*/
}

h1 {
  margin-bottom: 15px;
}

h3 {
  opacity: .75;
}

header{
  height: 77px;
  text-align: center;
}

.container {
  width: 100%;
  height: calc(100% - 77px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .calculation {
  width: 70%;
  height: 80%;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, .6);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.input-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
}

.last {
  height: 75px;
  align-items: flex-start;
}

.input-container input {
  width: 40%;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #b7b7b7;
  font-size: 2em;
  padding: 10px;
  text-align: center;
}

.input-container input:focus::-webkit-input-placeholder {
  visibility: hidden;
}

.input-container input::-webkit-input-placeholder {
  font-size: 1rem;
  transform: translateY(-25%);
}

button {
  width: 40%;
  min-height: 50px;
  background-color: #51b242;
  border: 1px solid #51b242;
  color: white;
  font-size: 1em;
  cursor: pointer;
}

.answer-container {
  width: 100%;
  height: calc(100% - 225px);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  cursor: default;
}

.answer-container #answer {
  width: 100%;
  border: 0;
  border-bottom: 1px solid #b7b7b7;
  font-size: 2em;
  text-align: center;
  color: #000000;
}


#answer span{
  font-size: 1rem;
  position: relative;
  width: 100%;
}

#answer span:nth-of-type(1):hover::before{
  transition: all 1s ease;
  content: attr(data);
  position: absolute;
  top: -2rem;
  font-size: .8rem;
  line-height: 30px;
  left: -100px;
  width: 450px;
  height: 30px;
  border-radius: 5px;
  background: rgba(0,0,0, .3);
}
#answer span:nth-of-type(2):hover::before{
  transition: all 1s ease;
  content: attr(data);
  position: absolute;
  top: -2rem;
  font-size: .8rem;
  line-height: 30px;
  left: -150px;
  width: 450px;
  height: 30px;
  border-radius: 5px;
  background: rgba(0,0,0, .3);
}
#answer span:nth-of-type(3):hover::before{
  transition: all 1s ease;
  content: attr(data);
  position: absolute;
  top: -2rem;
  font-size: .8rem;
  line-height: 30px;
  left: -200px;
  width: 450px;
  height: 30px;
  border-radius: 5px;
  background: rgba(0,0,0, .3);
}
#answer span:nth-of-type(4):hover::before{
  content: attr(data);
  position: absolute;
  top: -2rem;
  font-size: .8rem;
  line-height: 30px;
  left: -255px;
  width: 450px;
  height: 30px;
  border-radius: 5px;
  background: rgba(0,0,0, .3);
}#answer span:nth-of-type(5):hover::before{
   content: attr(data);
   position: absolute;
   top: -2rem;
   font-size: .8rem;
   line-height: 30px;
   left: -307.5px;
   width: 450px;
   height: 30px;
   border-radius: 5px;
   background: rgba(0,0,0, .3);
 }
